.instagram-post {
  padding-top: 50px;
}

.instagram-post ~ .instagram-post {
  padding-top: 0;
}

.instagram-post {
  padding: 5px 0;
  .header {
    height: 30px;
    border-bottom: 1px solid #fff;
    margin: 7.5px 10px;
    .image {
      display: inline-block;
    }
    img {
      border-radius: 99px;
      width: 100%;
      height: 100%;
    }
    .username {
      position: relative;
      top: 3px;
      padding-left: 5px;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  .level {
    margin-bottom: 0.5rem !important;
  }
  .image-container {
    height: 330px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .content {
    margin: 7.5px 10px;
  }
  .far.fa-heart,
  .fas.fa-heart {
    cursor: pointer;
  }
  .fas.fa-heart {
    color: #f06595;
  }
  .likes {
    margin: 5px 0;
    margin-bottom: 5px !important;
    font-size: 0.85rem;
    font-weight: bold;
  }
  .caption {
    font-size: 0.85rem;
    span {
      font-weight: bold;
    }
  }
}

.instagram-post:last-child {
  margin-bottom: 80px;
}
