$color-darken: 10%;

$color-white: #fff;
$color-white-smoke: #f8f7fd;
$color-white-smoke-darken: #ebeef7;
$color-white-lilac: #edeef7;
$color-white-grayish-blue: #d8ddef;
$color-yellow: #ffd500;
$color-yellow-darken: darken($color-yellow, $color-darken);
$color-light-orange: #ffa200;
$color-light-orange-darken: darken($color-light-orange, $color-darken);
$color-dark-orange: #ff5440;
$color-dark-orange-darken: darken($color-dark-orange, $color-darken);
$color-red: #e62e71;
$color-red-darken: darken($color-red, $color-darken);
$color-magenta: #ef4ba5;
$color-magenta-darken: darken($color-magenta, $color-darken);
$color-light-purple: #b63df2;
$color-light-purple-darken: darken($color-light-purple, $color-darken);
$color-dark-purple: #7761f2;
$color-dark-purple-darken: darken($color-dark-purple, $color-darken);
$color-dark-blue: #5b1bdd;
$color-dark-blue-darken: darken($color-dark-blue, $color-darken);
$color-light-blue: #008cff;
$color-light-blue-darken: darken($color-light-blue, $color-darken);
$color-cyan: #2dbaee;
$color-cyan-darken: darken($color-cyan, $color-darken);
$color-green: #00c586;
$color-green-darken: darken($color-green, $color-darken);
$color-lime: #81d100;
$color-lime-darken: darken($color-lime, $color-darken);
$color-light-gray: #c9cfe7;
$color-light-gray-darken: darken($color-light-gray, $color-darken);
$color-cornflower-blue: #9799c4;
$color-cornflower-blue-darken: darken($color-cornflower-blue, $color-darken);
$color-dark-gray: #7477b0;
$color-dark-gray-darken: darken($color-dark-gray, $color-darken);
$color-gun-powder: #3e3a53;
$color-black: #2e364d;
$color-black-darken: #1c1733;

$color-shadow: rgba(0, 0, 0, 0.065);
