<html>

<head>
  <title>Vue Transitions - Shuffle a Deck of Cards</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">
    <div class="count-section">
      # of Shuffles: {{ shuffleCount }}
    </div>
    <h1 class="title">
      <img class="vue-logo" src="https://vuejs.org/images/logo.png" />
      Card Shuffling
    </h1>
    <div class="speed-buttons">
      <button v-for="type in shuffleTypes"
              class="button is-small"
              :class="{ 'is-light': shuffleSpeed != `shuffle${type}` }"
              @click="shuffleSpeed = `shuffle${type}`">
        {{ type }}
      </button>
    </div>
    <div class="main-buttons">
      <button v-if="isDeckShuffled" @click="displayInitialDeck" class="button is-primary is-outlined">
        Reset <i class="fas fa-undo"></i>
      </button>
      <button @click="shuffleDeck" class="button is-primary">
        Shuffle <i class="fas fa-random"></i>
      </button>
    </div>
    <transition-group :name="shuffleSpeed" tag="div" class="deck">
      <div v-for="card in cards" :key="card.id"
           class="card"
           :class="suitColor[card.suit]">
        <span class="card__suit card__suit--top">{{ card.suit }}</span>
        <span class="card__number">{{ card.rank }} </span>
        <span class="card__suit card__suit--bottom">{{ card.suit }}</span>
      </div>
    </transition-group>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>

</html>
